<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="SendGridApiKey" value="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" />-->
    <add key="SendGridApiKey" value="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" />
    <add key="MongoDb" value="mongodb://localhost:27017/SagaToServerless?maxPoolSize=150" />
    <add key="ServiceBus" value="rabbitmq://rabbitmq:rabbitmq@localhost:5672" />
    <add key="MassTransit.Endpoints.Host" value="localhost:5672" />
  </appSettings>
</configuration>